.container .table{
    margin-bottom: 0;
}

.container .text h1{
    margin-bottom: .5rem;
}

/* Order List - START */
.orderList .addNew{
  position: absolute;
  top: 5.5rem;
  right: 5rem;
  background-color: var(--color-white);
  color: var(--color-font);
  font-weight: 700;
  border: 0.2rem solid var(--color-font);
  border-radius: var(--border-radius-4);
  transition: var(--tran-2);
}

.orderList .addNew:hover{
  transform: scale(1.05);
}

.orderDetail, .addOrder{
  padding-bottom: 5.5rem;
}

/* Action Column */
.orderList table th:last-child,
.orderList table td:last-child{
  margin: 0;
  padding: 0 1rem;
  text-align: center;
  width: 7rem;
}

.actionRoundBtn{
  color: var(--color-font);
  background: transparent;
  margin: 0 auto;
  border: 0;
  border-radius: var(--border-radius-3);
  font-size: 1.1rem;
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.8;
  text-align: center;
}

.actionRoundBtn.danger{
  color: var(--color-danger);
}

.actionRoundBtn:hover{
  transform: scale(1.4);
  opacity: 1;
}

/* FORM ACTION BUTTON */
.orderDetail .btn, .addOrder .btn {
  border-radius: var(--border-radius-4);
  font-size: 0.9rem;
  font-weight: 600;
  margin: 1rem .5rem;
  transition: var(--tran-2);
  opacity: .95;
  float: right;
}

.orderDetail .btn:hover, .addOrder .btn:hover {
  opacity: 1;
  transform: translate(-0.1rem, -0.1rem);
}

/* Search Bar */
.searchBar{
  position: absolute;
  top: 5.5rem;
  right: 7rem;
}

.searchBar i{
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}